/*removal of arrows that appear on the right side of textbox type="number*/
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

canvas {
    border: 1px solid black;
    background: rgb(1, 2, 5);
}

body {
margin: 0; /*overrides preset browser property so there is no margin for the container*/
    overflow: hidden; /*prevents use of scrollbar*/
    -webkit-user-select: none; /* prevents highlighting of text on different browsers */
    -ms-user-select: none; 
    user-select: none;
}


.paramBtn {
    position: absolute; /*absolute positioning to allow objects inside canvas container*/
    background: #051427;
    border-color: #a44322;
    border-radius: 5px;
    right: 10px;
    width: 90px;
    height: 80px;
    border-width: 3px;
    background-position: center; /* formatting the image */
    background-repeat: no-repeat;
 
}

#clearBtn {
     /* linking an image file in folder to the button*/
    top: 600px;
}
#timeBtn {
    top: 500px;
}
#physicsBtn {
    top: 400px;
}
#objectBotBtn {
    background-image: url("Icons/ObjectBottom.png");
    background-size: 70px;
    top: 300px;
    border-bottom-width: 1px; 
    border-top-left-radius: 1px;
    border-top-right-radius: 1px;
}
#objectTopBtn {
    background-image: url("Icons/ObjectTop.png");
    background-size: 63px;
    top: 220px;
    border-bottom-width: 1px;
    border-bottom-left-radius: 1px;
    border-bottom-right-radius: 1px;
}

/*parameter child popups*/
.paramChildBtn{
    position: absolute;
    display: none;
    background-color: #051427;
    border: 5px solid #530f1e;
    border-radius: 5px;
    right: 110px;
    top: 200px;
    height: 200px;
    width: 210px;
}


#objectTopChild {
    height: 110px;
    top: 179px;
}

#objectBotChild {
    height: 170px;
    top: 300px;
}
#physicsChild {
    height: 150px;
    top: 400px;
}
#timeChild {
    height: 130px;
    top: 500px;
}


/*Line divider */
#objTypeLine {
    background: rgb(54, 136, 184, 0.6);
    border-radius: 100px;
    position: absolute;
    height: 5px;
    width: 450px;
    right: 45px;
    top: 80px;
}

.objType {
    position: absolute;
    background: #051427;
    border-radius: 15px;
    width: 60px;
    height: 50px;
    top: 18px;
}
#planetBtn {
    right: 400px;
}
#solarBtn {
    right: 300px;
}
#asteroidBtn {
    right: 200px;
}
#blackHoleBtn {
    right: 100px;
}




#scenarioPresets { /*styling for the scenario preset buttons and positioning*/ 
    position: absolute;
    background: rgba(36, 113, 230, 0.4);
    border-radius: 10px;
    left: 10px;
    bottom: 40px;
    width: 55px;
    height: 55px;
}

.scenarioBtn {
    position: absolute;
    display: none;
    background-color: rgba(127, 150, 179, 0.6);
    border-radius: 5px;
    border-width: 1px;
    left: 12px;
    bottom: 100px;
    width: 50px;
    height: 50px;
}

#solarSysBtn {
    bottom: 105px;
}
#binarySysBtn {
    bottom: 163px;
}
#unstableSysBtn {
    bottom: 221px;
}
#lagrSysBtn {
    bottom: 279px;
}
#eightSysBtn {
    bottom: 337px;
}






/*switch styles and animations */
.switch {
    position: relative;
    margin-left: 7px;
    display: inline-block;/*like inlineblock but width and height can be set */
    width: 38px;
    height: 23px;
}  
.switch input {/*resetting default styles*/
    opacity: 0;
    width: 0;
    height: 0;
  }
.slider {
    position: absolute;
    cursor: pointer; /*changes appearance of cursor upon hover*/
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(179, 179, 182);
    transition: .15s;/*transition effect for the slider toggle*/
    /*transition lasts 0.15 seconds*/
}
.slider:before {/*:before inserts before the content of the slider element*/ /*pseudoelement*/
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    left: 4px;
    bottom: 4px;
    background-color: rgb(255, 255, 255);
    transition: .15s;
}
input:checked + .slider {
    background-color: rgb(26, 26, 163);
}
input:checked + .slider:before {
    transform: translateX(15px);
}
.slider.round {
    border-radius: 15px;
}
.slider.round:before {
    border-radius: 45%;
}


/*info Event handling divs*/
.infoBox {
    position: absolute;
    display: none;
    bottom: -95px;
    left: 100px;
    height: 130px;
    width: 310px;
    background-color: rgb(21, 29, 53);

    border: 2px  #dadada81;
    border-radius: 5px;
    outline: none;
    border-color: #9ecaed;
    box-shadow: 0 0 20px #9ecaed;

    transition-timing-function: ease-out;
    transition: bottom 0.85s;
}
.infoBox:hover { /*pseudo class for interacting div with mouse*/
    bottom: 5px;
    box-shadow: 0 0 5px #9ecaed;


}
.infoBoxQuit { /*exit button styling for infoBox */
    float: right;
    margin: 5px;
    border: none;
}


/*disabling popup button*/
#disableInfoBox {
    position: absolute;
    width: 32px;
    height: 32px;
    top: 20px;
    left: 20px;
    opacity: 40%;

}

/* HEX CODES:
#000000 black
#051427 dark blue
#530f1e burgundy
#a44322 deep orange
#f8bc04 yellow */
h1 {
    font-family: 'Alegreya', serif;
    font-size: 15px;
    color: #e6e2e79f;
    margin-left: 10px;
}
p {
    font-family: 'Alegreya', serif;
    font-size: 14px;
    color: white;
    display: block;
}

a { 
    font-family: 'Alegreya', serif;
    font-size: 14px;
    color: rgb(202, 177, 177);
    margin-left: 10px; 
    margin-right: 10px;
    display: inline;
}

.boxPara {
    margin-left: 10px;
    margin-bottom: 0px;
    margin-top: 5px;
    margin-right: 10px;
}
